@import url("https://v1.fontapi.ir/css/Shabnam");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Shabnam", monospace, sans-serif;
}

a {
  font-weight: 500;
  color: inherit;
  text-decoration: none;

  &:hover {
    color: inherit;
    text-decoration: none;
  }
}
